# Python / services
venv/
__pycache__/
*.pyc

# DB & dumps
*.db
*.sqlite
*.sql
hotel-backend/**/instance/

# frontend
hotel-management-frontend/node_modules/
hotel-management-frontend/.angular/
hotel-management-frontend/dist/
hotel-management-frontend/build/


# Env & IDE
.env
*.env
.vscode/
.idea/
